<!-- Navigation -->
<nav class="navbar navbar-toggleable navbar-expand-lg fixed-top navbar-light bg-light" id="mainNav">
  <a class="navbar-brand js-scroll-trigger" href="/">
    <img src="/img/logo.png" width="50px" class="d-inline-block" alt="solon logo"> Solon
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3" href="/policy">Policy</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3" href="/budget">Budget</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3" href="/forum">Forum</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="active nav-link py-3 px-0 px-lg-3" href="/clubs">Clubs</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="my-2 px-3 btn btn-outline-primary" href="/users/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container pt-5 pb-3 mt-5">
  <div class="text-center">
    <h1 class="display-4">Club Join Request</h1>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <div class="alert alert-warning" style="word-wrap: break-word" role="alert">
      <h5>Your request to join the club has been recorded.</h5>
    </div>
    <button class="btn btn-outline-primary" onclick="window.location.href = '/clubs';" data-dismiss="modal">Return to
      Clubs Page</button>
  </div>
</div>