<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6 m-auto">
            <div class="card card-body bg-light">
                <a class="text-center" href="/">
                    <img src="/img/logo.png" width="150px" class="img-fluid" alt="solon logo">
                </a>
                <h1 class="text-center mb-3">Metamask Setup</h1>
                <hr>
                <div class="mmsteps">
                    <ol>
                        <li>Install the Metamask extention to your Google Chrome, Firefox, or Opera browser from the
                            website <a href="https://metamask.io/.">https://metamask.io/</a> </li>
                        <li>Create a password to access your account. </li>
                        <li>Accept the terms that follow. </li>
                        <li>Eventually you will get to a page with a <b>seed phrase.</b> This step is <b> very
                                important!</b> Your seed phrase is a set of 12 random words in a specific order that is
                            specific to <b> your account. </b> Because of this, write
                            your seed phrase down somewhere where you'll remember it. <b> DON'T</b> share your seed
                            phrase with anyone else! In the next screen, you will be asked to enter your seed phrase.
                        </li>
                        <li>Enter your seed phrase in the correct order. </li>
                        <li>Copy your public address starting with 0x and use it during registration.</li>
                    </ol>
                    <p class="lead mt-4 text-center"><a href="/users/register">Back to Registration</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>