<!-- Navigation -->
<nav class="navbar navbar-toggleable navbar-expand-lg fixed-top navbar-light bg-light" id="mainNav">
  <a class="navbar-brand js-scroll-trigger" href="#">
    <img src="/img/logo.png" width="50px" class="d-inline-block" alt="solon logo"> Solon
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger" href="#home">Home</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1 dropdown">
        <a class="nav-link py-3 px-0 px-lg-3 dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">About</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item js-scroll-trigger" href="#who">Who Are We?</a>
          <a class="dropdown-item js-scroll-trigger" href="#what">What Is Solon?</a>
          <a class="dropdown-item js-scroll-trigger" href="#uses">What Can Solon Be Used For?</a>
          <a class="dropdown-item js-scroll-trigger" href="#security">How Can We Be Sure Solon Is Secure?</a>
        </div>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger" href="#contact">Contact</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="my-2 px-3 btn btn-outline-primary" href="/users/login">Log In</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="my-2 px-3 btn btn-outline-primary" href="/users/register">Register</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Header -->
<div class="jumbotron jumbotron-fluid my-auto bg-gradient" id="home">
  <div class="container-fluid text-center text-white py-5 mt-5">
    <img src="/img/logo.png" alt="solon logo" height="200px">
    <h1 class="display-1">Solon</h1>
    <p class="lead">
      A Better Talos
    </p>
  </div>
</div>

<!-- About -->
<section class="page-section" id="about">
  <div class="jumbotron jumbotron-fluid my-auto border bg-light" id="who">
    <div class="container-fluid text-center p-5">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <h1>Who Are We?</h1>
        </div>
        <div class="col-lg-6 lead px-5">
          <p>We are a small group of students working at Bushwick Generator, a “community-led innovation lab”
            that aims to introduce modern technology into new industries for a better future. We have chosen
            to create a project centered on improving schools, especially in neighborhoods where there may be
            a disconnect between students, parents, and teachers.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid my-auto border" id="what">
    <div class="container-fluid text-center p-5">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <h1>What Is Solon?</h1>
        </div>
        <div class="col-lg-6 lead px-5 ">
          <p>Solon is an educational tool that both students and parents can use to keep up with current school events.
            Our goal is to create a platform where we can encourage more parent and student participation in school
            decisions and policy. Currently, Solon consists of a parent and student dashboard, a policy proposal page,
            and a budget proposal page. </p>
          <p>The policy and budget pages run using blockchain technology. Using Metamask and Ethereum, users can propose
            new school policies and budget allocations as well as vote on current proposals. These features are
            implemented using smart contracts, which are coded agreements that can be used to automate transactions.
          </p>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid my-auto border bg-light p-auto" id="uses">
    <div class="container-fluid text-center p-5">
      <div class="row ">
        <div class="col-lg-6 m-auto">
          <h1>What Can Solon Be Used For?</h1>
        </div>
        <div class="col-lg-6 lead px-5">
          <p>Solon can be used to view general information about students and vote on policy proposals and budget
            allocations. In the future, we aim to include some of these following features:</p>
          <ul class="list-group my-3">
            <li class="list-group-item">Vote on policy proposals and budgeting</li>
            <li class="list-group-item">Organize school-wide acitivities, such as trips or events like bake
              sales</li>
            <li class="list-group-item">Administer clubs and vote on their funding</li>
            <li class="list-group-item">Manage program and schedule changes</li>
            <li class="list-group-item">Upload and view grades</li>
            <li class="list-group-item">Take care of payments for things like textbooks or field trip
              fees</li>
            <li class="list-group-item">Communicate with each other with ease</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid my-auto border" id="security">
    <div class="container-fluid text-center p-5">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <h1>How Can We Be Sure Solon Is Secure?</h1>
        </div>
        <div class="col-lg-6 lead px-5">
          <p>In such a decentralized system, there is no single authority that makes decisions on behalf of all the
            parties. Instead, each party acts as a peer and makes local autonomous decisions towards its individual
            goals which may possibly conflict with those of other peers. Peers directly interact with each other and
            share information or provide service to other peers.</p>
          <p>An open decentralized system is one in which the entry of peers is not regulated. Any peer can enter or
            leave the system at any time. Due to this and the fact that peers are autonomous with possibly different
            goals, the system may be exposed to a number of malicious attacks. A well-known example of such attacks is
            in the case of peer-to-peer file-sharing applications where malicious peers disguise viruses and trojans as
            reliable resources. Solon is a closed decentralized system where access is reserved for participating
            members in the school community.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section class="page-section" id="contact">
  <div class="jumbotron jumbotron-fluid my-auto border bg-light">
    <div class="container text-center">
      <h1>Contact Us</h1>
      <a href="mailto: solonedu2019@gmail.com" class="font-size-lg">solonedu2019@gmail.com</a>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/scroll.js"></script>